@using Microsoft.AspNetCore.Identity
@using TestJQuery.Models
@inject SignInManager<ApplicationUser> SignInManager

<ul class="navbar-nav ms-auto">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <form asp-controller="Account" asp-action="Logout" style="display: inline;" method="post">
                <button class="nav-link text-dark" type="submit" style="background:transparent; cursor:pointer; border:none; padding:0.5rem 0.5rem">Logout</button>
            </form>
        </li>
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Profile">Profile</a></li>
    }
    else
    {
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Login">Login</a></li>
        <li class="nav-item"><a class="nav-link text-dark" asp-controller="Account" asp-action="Registration">Register</a></li>
    }
</ul>