@{
    ViewData["Title"] = "Home page";
}

<div class="slider">
    <div class="slides">
        <img class="slide" src="~/src/foto_slider/foto1.jpg" />
        <img class="slide"  src="~/src/foto_slider/foto2.jpg" />
        <img class="slide"  src="~/src/foto_slider/foto3.jpg" />
    </div>
</div>

@section Scritps{
    <script src="~/js/Slider.js"></script>
}