
@{
    ViewData["Title"] = "Menu"; 
}

<div class="card">
    <input type="text" id="searchInput" />
    <div id="elencoPizze"></div>
</div>

@section Scripts{
    <script src="~/js/Pizza.js"></script>
}