@using Microsoft.AspNetCore.Identity
@model List<OrderedPizza>
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Cart";

}

<style>
    #div-bottoni{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
    }

    .cont-order{
        margin-top: 100px;
    }
</style>
<div class="cont-order">
    <h2>@ViewData["Title"]</h2>
    @if (Model?.Any() == true)
    {
        <div class="ordini">
            @foreach (var item in Model)
            {
                <div class="cart-item">
                    <h3>@item.Pizza.Name</h3>
                    <p>Quantità: @item.Quantity</p>
                    <p>Prezzo: €@(item.Pizza.Price * item.Quantity)</p>
                </div>
            }
        </div>
        <p><strong>Totale: €@Model.Sum(i => i.Pizza.Price * i.Quantity)</strong></p>
    }
    else
    {
        <p>Il carrello è vuoto!</p>
    }
    <div id="div-bottoni">
        <button>Our Pizzas</button>
        <button>Checkout</button>
    </div>
</div>


@section Scripts{
    <script src="~/js/Cart.js"></script>
}