@using Microsoft.AspNetCore.Identity
@model List<OrderedPizza>
@inject SignInManager<ApplicationUser> signInManager

@{
    ViewData["Title"] = "Cart";

}

<style>
    #div-bottoni{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        gap: 15px;
    }

    .cont-order{
        margin-top: 100px;
    }

    .cart-item{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        border: 1px solid black;
        margin-bottom: 15px;
    }

    .nam-quant{
        width: auto;
        
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        white-space: nowrap;
        gap: 30px;
    }
</style>
<div class="cont-order">
    <h2>@ViewData["Title"]</h2>
    @if (Model?.Any() == true)
    {
        <div class="ordini">
            @foreach (var item in Model)
            {
                <div class="cart-item">
                    <div class="nam-quant">
                        <h3>@item.Quantity</h3>
                        <h3>@(item.PizzaName ?? item.Pizza?.Name ?? "Pizza senza nome")</h3>
                        
                    </div>
                    
                    <h3>Price: €@(item.PriceSnapshot % 10)</h3>
                </div>
            }
        </div>
        <p><strong>Totale: €@Model.Sum(i => i.PriceSnapshot % 10)</strong></p>
    }
    else
    {
        <p>Il carrello è vuoto!</p>
    }
    <div id="div-bottoni">
        <button>Our Pizzas</button>
        <button>Checkout</button>
    </div>
</div>


@section Scripts{
    <script src="~/js/Cart.js"></script>
}