@using TestJQuery.ViewModels
@model RegistrationViewModel
@{
    ViewData["Title"] = "Registration";
    Layout = "_AccountLayout";
}

<style>
    body, html {
        height: 100%;
        margin: 0;
    }

    .account-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh !important; 
        width: 100% !important;
        background-image: url('/src/sfondo-register.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .account-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90%;
        width: 100%;
    }

    form {
        background: rgba(0,0,0,0.5);
        width: 40%;
        margin: auto;
        border-radius: 10px;
        padding: 55px 45px;
        color: white;
        transition: 2s ease-in-out;
    }

    form:hover {
        background: rgba(0,0,0,0.7);
        transition: 2s ease-in-out;
    }

    span{
        margin-top: 10px;
    }

    label{
        font-size: 20px;
    }

    .bod {
        width: 85%;
        
    }

    .bt-home {
        margin-left: 20px;
    }

    .div-buts {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        height: auto;
        margin-top: 30px;
    }

    .div-reg {
        display: flex;
        flex-direction: row;
        height: 30px;
        align-items: center;
    }

    p {
        margin: auto;
    }

    .btn-gen {
        background: rgba(231, 76, 60, 0.4);
        background:;
        color: white !important;
    }

    .btn-gen:hover {
        background: rgba(231, 76, 60, 0.7);
        color: rgba(255, 255, 255, 0.7) !important;
    }

</style>


<div class="account-container">
    <div class="account-box">
        <form asp-controller="Account" asp-action="Registration" method="post"> 
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="mb-3">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Name" class="form-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Surname" class="form-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Address" class="form-label"></label>
                <input asp-for="Address" class="form-control"/>
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Password" class="form-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label"></label>
                <input asp-for="ConfirmPassword" class="form-control"/>
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>

            

            <div class="div-buts">
                <div class="div-reg">
                    <input type="submit" value="Registration" class="btn btn-gen" />
                    <a asp-controller="Home" asp-action="Index" class="btn btn-gen bt-home">Home</a>
                </div>
                <div class="div-reg">
                    <p class="bt-home">Do you already have an account?</p>
                    <a asp-controller="Account" asp-action="Login" class="btn btn-gen bt-home">Login</a>
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial.cshtml");
        <script src="~/js/reg-script.js"></script>
    }
}